* {
  box-sizing: border-box;
}

body {
  font-family: "Klee One", cursive;
}

/* хедер начало */

.header {
  padding: 20px 0;
}
.sidebar {
  max-width: 1920px;
  margin: 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-phone {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  text-decoration: none;
}
.contacts-link {
  padding: 0 10px;
}

/* хедер конец */

/* мейн начало */

.main {
  background-color: #4fbfa5;
}

.navbar {
  max-width: 1920px;
  margin: 0 300px;
  display: flex;
  justify-content: flex-end;
}

.navbar-menu {
  width: 100%;
  margin: 30px 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 33px;
  font-size: 18px;
  line-height: 150%;
  padding-top: 5px;
}
.navbar-link-cosmetology,
.navbar-link-massage,
.navbar-link-contacts {
  text-decoration: none;
  color: #fff;
}

.navbar-link-cosmetology:hover,
.navbar-link-massage:hover,
.navbar-link-contacts:hover {
  color: #00868a;
}

.button-sign-up {
  margin-left: 33px;
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.button-sign-up:hover {
  background-color: #00868a;
  color: #fff;
}

.main-content {
  display: flex;
  align-items: center;
}
.main-info {
  color: #fff;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 300px;
}
.main-title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.main-text {
  padding-top: 20px;
  margin: 0;
  font-size: 22px;
  line-height: 22px;
}
.button-info {
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #00868a;
  border: none;
  border-radius: 0;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.button-info:hover {
  color: #000;
  background-color: #fff;
}

.button-info-link {
  padding-top: 40px;
}

.main-image {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin-right: 300px;
}

.main-photo {
  max-width: 100%;
  min-height: 100%;
}

.anchors {
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
}

.buttons-box {
  display: flex;
}

.button-anchor {
  font-size: 21px;
  line-height: 31px;
  color: #fff;
  background-color: #00868a;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 24px 80px;
}

.button-anchor:hover {
  color: #000;
  background-color: #fff;
}

.button-middle {
  background-color: #4fbfa5;
}

/* мэйн конец */
/* блок инновации и эстетическая красоты начало */

.innovation-aesthetic {
  display: flex;
  justify-content: space-between;
}
.innovation {
  background-color: #00868a;
  margin-left: 300px;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 530px;
  height: 580px;
  max-width: 1920px;
}
.stickers {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background-color: #4fbfa5;
  padding: 15px 10px;
  width: 180px;
  margin-top: 35px;
  margin-left: 40px;
  text-align: center;
}

.innovation-title {
  font-size: 30px;
  line-height: 45px;
  color: #fff;
  margin-left: 40px;
  text-align: start;
}

.arrow-button {
  color: #fff;
  background-color: #00868a;
  border: none;
  border-radius: 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 0 45px 40px;
}

.arrow-button-text {
  margin-left: 20px;
}

.arrow-button-link {
  text-decoration: none;
}

.innovation-img {
  height: 230px;
  width: 530px;
}

.aesthetic {
  margin-right: 300px;
  margin-top: 115px;
  margin-bottom: 80px;
  background-image: url(../img/сert/сertificate21.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

#aesthetic {
  margin: 0 0 30px 0;
}

.aesthetic-opacity {
  opacity: 0.3;
}

.aesthetic-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 175px;
}

.big-ten {
  font-size: 96px;
  line-height: 144px;
  color: #00868a;
  margin-right: 30px;
}

.span-title {
  font-size: 28px;
  line-height: 42px;
}

/* блок инновации и эстетическая красоты конец */
/* блок результатов начало */

.results {
  max-height: 600px;
}

#results {
  margin: 35px;
}

.result-block {
  margin: 0 300px;
}

.result-title {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #00868a;
}
.swiper {
  width: 600px;
  height: 300px;
  margin: 50px 0;
}

.swiper-wrapper {
  display: flex;
}

.image-slider {
  justify-content: center;
  align-items: center;
}

.image-slider__image {
}

.image-slider__image img {
  max-width: 100%;
}

.swiper-slide {
  justify-content: space-around;
}
.swiper-button-prev {
}
.swiper-button-next {
}

/* .result-boxes {
  display: flex;
  justify-content: space-between;
}

.result-box {
  border: 8px solid #00868a;
} */

/* блок результатов конец */

/* блок спецпредложений начало */

.offers {
  background-color: #4fbfa5;
}

.offer-title {
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  color: #fff;
  margin: 60px 0;
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
}

.offer-box {
  background-color: #00868a;
  margin-bottom: 100px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.box-info-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.box-info-arrow svg {
  margin-left: 15px;
}

.box-info {
  font-size: 21px;
  line-height: 31px;
  color: #fff;
}

.offer-link {
  text-decoration: none;
}

.box-title {
  height: 70%;
  background-image: url(../img/massage-img-background/background-image1.jpg);
  padding-bottom: 115px;
}

.box-image-2 {
  height: 70%;
  padding-bottom: 115px;
  background-image: url(../img/massage-img-background/background-image2.jpg);
}
.box-image-3 {
  background-image: url(../img/massage-img-background/background-image3.jpg);
  height: 70%;
  padding-bottom: 115px;
}
.box-image-4 {
  background-image: url(../img/massage-img-background/background-image4.jpg);
  height: 70%;
  padding-bottom: 115px;
}

/* блок результатов конец */

/* футер начало */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 300px;
}
.footer-about {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
  max-width: 1920px;
}

.footer-about:hover {
  text-decoration: underline;
  color: #00868a;
}
.footer-politic {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  cursor: pointer;
}

.footer-politic:hover {
  text-decoration: underline;
  color: #00868a;
}

/* блок результатов конец */

/* модальные окна */
/* Подробнее - 1 */
.popup-info-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-info-1.active {
  display: flex;
}

.popup-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
}

.popup-text-color {
  color: #00868a;
  font-weight: 700;
}

.popup-info-list {
  list-style: none;
}

.popup-info-list li {
  text-align: center;
}

.content-text-img {
  display: flex;
  align-items: center;
}

.popup-content-text {
  text-align: justify;
  margin: 0 20px 0 10px;
}

.info-list {
  list-style: none;
  margin-bottom: 10px;
}

.info-list::before {
  content: "\2743";
  color: #00868a;
  font-size: 18px;
  padding-right: 15px;
}

.popup-img {
  max-width: 400px;
  padding-right: 10px;
  justify-content: space-around;
}

.popup-images {
  display: flex;
  flex-direction: column;
}

.popup-img-box {
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-img {
  width: 15px;
  height: 15px;
}

/* Подробнее - 2 */

.popup-info-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-info-2.is-open {
  display: flex;
}

.popup-area-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body-2 {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content-2 {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.popup-content-2 h2 {
  text-align: center;
}

.popup-content-2 {
  text-align: center;
}

.eventually-list {
  list-style: none;
  margin-bottom: 8px;
}

.eventually-list::before {
  content: "\2714";
  margin-right: 8px;
  font-size: 18px;
  color: #00868a;
}

/* Запись на прием */

.popup-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-sign-up.sign-up-open {
  display: flex;
}

.popup-area-sign-up {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body-sign-up {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content-sign-up {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.popup-content-sign-up h3 {
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  color: #00868a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.popup-content-sign-up p {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #00868a;
  margin-top: 0;
}

.form-sign-up {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-sign-up {
  display: block;
  align-items: center;
  margin: 15px 0;
  border-radius: 0;
  border: 1px solid #00868a;
  padding: 15px 25px;
  color: #00868a;
}

::-webkit-input-placeholder {
  color: #00868a;
}
::-moz-placeholder {
  color: #00868a;
}
:-moz-placeholder {
  color: #00868a;
}
:-ms-input-placeholder {
  color: #00868a;
}

.popup-content-3 input[type="submit"] {
  background-color: #00868a;
  color: #fff;
}

/* Navbar контакты */

.popup-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-contacts.is-open-contacts {
  display: flex;
}

.popup-area-contacts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body-contacts {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content-contacts {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

.popup-content-contacts h2 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  color: #4fbfa5;
}

.popup-phone {
  margin-bottom: 20px;
}

.popup-phone-link {
  text-decoration: none;
  color: #4fbfa5;
  font-weight: 700;
}

.popup-phone-link:hover {
  color: #00868a;
}

.popup-email {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
}

.popup-email-link {
  text-decoration: none;
  color: #4fbfa5;
}

.popup-email-link:hover {
  color: #00868a;
}
/* Navbar массаж */

.popup-massage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-massage.is-open-massage {
  display: flex;
}

.popup-area-massage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body-massage {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content-massage {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

/* Navbar косметология */

.popup-cosmetology {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.popup-cosmetology.is-open-cosmetology {
  display: flex;
}

.popup-area-cosmetology {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-body-cosmetology {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}
.popup-content-cosmetology {
  position: relative;
  background-color: #fff;
  color: #4fbfa5;
  max-width: 800px;
  padding: 30px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}
